{% load static %}
<link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />  
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="sidebar open">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="https://t4.ftcdn.net/jpg/04/06/91/91/240_F_406919147_D3WsGjwXj1qmFNrei2ZFvBWwiueRcFmg.jpg" alt="logo" />
          </span>
          <div class="text header-text">
            <span class="main">Slight</span><br>
            <span class="sub">SOFT</span>
            {{request.user.company.code}}
          </div>
        </div>
        <i id="sidebarToggle" class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="search-bar">
              <i class="bx bx-search icons"></i>
              <input type="search" placeholder="Search..." />
            </li>
            <li class="nav-link">
              <a href="{% url 'dashboard' company.code %}">
                <i class="fa-solid fa-house-user icons"></i>
                <span class="text nav-text username"><strong>#{{request.user.username}}#</strong></span>
              </a>
            </li>
            <style>
              .username{
                color:black !important;
              }
            </style>
            {% if request.user.company.code == 1 and request.user.permissions.add_company%}
            <li class="nav-link">
              <a href="{% url 'yeni_firma_tanimla' company.code %}">
                <i class="fa-regular fa-address-book icons"></i>
                <span class="text nav-text">Şirket Oluştur</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'firmalar' company.code %}">
                <i class="fa-solid fa-layer-group icons"></i>
                <span class="text nav-text">Şirketler</span>
              </a>
            </li>
            {% endif %}
            

            <li class="nav-link">
              {% if request.path == '/firmalar' %}
            <a href="{% url 'parametre' request.session.company_code %}">
              <i class="fa-solid fa-gear icons"></i>
                <span class="text nav-text">Parametre</span>
             </a>
{% else %}
    <a href="{% url 'parametre' company.code %}">
        <i class="fa-solid fa-gear icons"></i>
        <span class="text nav-text">Parametre</span>
    </a>
{% endif %}
            </li>
           
            <li class="nav-link">
              <a href="{% url 'fatura_olustur' company.code %}">
                <i class='bx bx-receipt icons'></i>
                <span class="text nav-text">Fatura Gir</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{% url 'stok_cikisi_yap' company.code %}">
                <i class="fa-solid fa-truck-ramp-box icons"></i>
                <span class="text nav-text">Stok Çıkışı Yap</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-bell icons"></i>
                <span class="text nav-text ">Notifications</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-boxes-stacked icons"></i>
                <span class="text nav-text">Envanter</span>
              </a>
            </li>
            
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-mortar-pestle icons"></i>
                <span class="text nav-text">Reçete Oluştur</span>
              </a>
            </li>
            <li class="nav-item dropend">
              <a class="nav-link dropdown-toggle" href="#" id="raporlarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-chart-pie icons"></i>
                  <span class="text nav-text">Raporlar</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="raporlarDropdown">
                  <li><a class="dropdown-item" href="{% url 'stok_giris_cikislari' company.code %}">Stok Giriş Çıkış</a></li>
                  <li><a class="dropdown-item" href="{% url 'stok_durumu' company.code %}">Stok Durumu</a></li>
                  <li><a class="dropdown-item" href="{% url 'kategoriye_göre_stoklar' company.code %}">Kategoriye Göre Stoklar</a></li>
                  <li><a class="dropdown-item" href="{% url 'stok_hareketleri' company.code %}">Stok Hareketleri</a></li>
                  <li><a class="dropdown-item" href="{% url 'ürün_bilgileri' company.code %}">Ürün Bilgileri</a></li>
                  <li><a class="dropdown-item" href="{% url 'stok_farki' company.code%}">Stok Farkı</a></li>
                  <li><a class="dropdown-item" href="{% url 'faturalar' company.code %}">Faturalar</a></li>
                  <li><a class="dropdown-item" href="{% url 'stok_giris_cikislari' company.code %}">Kritik Stok Seviyleri</a></li>
                  <li><a class="dropdown-item" href="{% url 'vade_tarihi_gelen_faturalar' company.code today  %}">Vade Tarihi Gelen Faturalar</a></li>
              </ul>
          </li>
          <li class="nav-item dropend">
            <a class="nav-link dropdown-toggle" href="#" id="raporlarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-square-plus icons"></i>
                <span class="text nav-text">Tanımlar</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="raporlarDropdown">
              {% if request.user.permissions.add_product %}
                <li><a class="dropdown-item" href="{% url 'urun_olustur' company.code%}">Ürün</a></li>
              {% endif %}
                <li><a class="dropdown-item" href="{% url 'kategori_tanimla' company.code %}">Kategori</a></li>
                <li><a class="dropdown-item" href="{% url 'cari_tanimla' company.code %}">Cari</a></li>
                <li><a class="dropdown-item" href="{% url 'cikis_tanimlama_sayfasi' company.code %}">Çıkış</a></li>
                <li><a class="dropdown-item" href="{% url 'birim_olustur' company.code %}">Birim</a></li>
                <li><a class="dropdown-item" href="{% url 'kullanici_ekle' company.code %}">Kullanıcı</a></li>
            </ul>
        </li>
          </ul>
        </div>
        <li class="nav-link">
          <a href="{% url 'destek' company.code %}">
            <i class="fa-solid fa-handshake-angle icons"></i>
            <span class="text nav-text">Destek Ekibiyle Konuş</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="{% url 'give_support' %}">
            <i class="fa-solid fa-headset icons"></i>
            <span class="text nav-text">Destek Odasına Katıl</span>
            <span class="badge text-bg-danger">{{waiting_for_support}}</span>
          </a>
        </li>
        <div class="bottom-content">
          <li class="nav-link">
            <a href="{% url 'logout' %}">
              <i class="bx bx-log-out icons"></i>
              <span class="text nav-text">Log Out</span>
            </a>
          </li>
          <li class="mode">
            <div class="moon-sun">
              <i class="bx bx-moon icons moon"></i>
              <i class="bx bx-sun icons sun"></i>
            </div>
            <span class="mode-text text">Dark Mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <script>
      const body = document.querySelector("body"),
  sidebar = document.querySelector(".sidebar"),
  toggle = document.querySelector(".toggle"),
  modeSwitch = document.querySelector(".toggle-switch"),
  modeText = document.querySelector(".mode-text"),
  searchBtn = document.querySelector(".search-bar");

modeSwitch.addEventListener("click", () => {
  body.classList.toggle("dark");
  //   document.querySelector(".mode-text").innertext=""

  if (body.classList.contains("dark")) {
    modeText.innerText = " Light Mode ";
  } else modeText.innerText = " Dark Mode ";
});

toggle.addEventListener("click", () => {
  sidebar.classList.toggle("close");
});

searchBtn.addEventListener("click", () => {
  sidebar.classList.remove("close");
});
    </script>