{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {% for message in messages %}
                Swal.fire({
                    position: "top-end",
                    icon: "{% if message.tags == 'success' %}success{% else %}info{% endif %}",
                    title: "{{ message }}",
                    showConfirmButton: false,
                    timer: 1500
                });
            {% endfor %}
        });
    </script>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const existingSellerNames = {{ existing_seller_names|safe }};
            const existingCategoryNames = {{ existing_category_names|safe }};

            function checkName(inputField, existingNames, warningMessageId, warningText) {
                const warningMessage = document.getElementById(warningMessageId);
                const enteredName = inputField.value;

                if (existingNames.includes(enteredName)) {
                    warningMessage.textContent = warningText;
                    inputField.classList.add('is-invalid');
                } else {
                    warningMessage.textContent = '';
                    inputField.classList.remove('is-invalid');
                }
            }

            const sellerInputField = document.querySelector('input[name="seller_name"]');
            sellerInputField.addEventListener('input', () => {
                checkName(sellerInputField, existingSellerNames, 'warning-message', 'Bu cari ada benzer bir ad bulunuyor');
            });

            const categoryInputField = document.querySelector('input[name="category_name"]');
            categoryInputField.addEventListener('input', () => {
                checkName(categoryInputField, existingCategoryNames, 'warning-message-for-category', 'Bu kategori ada benzer bir ad bulunuyor');
            });

            // Accordion işlevselliği
            const accordionItems = document.querySelectorAll('.accordion-item');

            accordionItems.forEach(item => {
                const accordionButton = item.querySelector('.accordion-button');

                accordionButton.addEventListener('click', () => {
                    // Diğer tüm içerikleri gizle
                    accordionItems.forEach(otherItem => {
                        if (otherItem !== item) {
                            otherItem.classList.remove('show');
                        }
                    });

                    // Seçilen öğenin içeriğini göster
                    item.classList.toggle('show');
                });
            });
        });
    </script>

    <div class="row">
        <div class="col-lg-12 d-none">
            <div class="mb-3">
                <h4 class="accordion-button">Cari Tanımla</h4>
                <form action="{% url 'cari_olustur' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="seller_name" class="form-label">Cari Adı</label>
                        <input type="text" name="seller_name" class="form-control" id="seller_name">
                        <div id="warning-message" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="seller_address" class="form-label">Cari Adres</label>
                        <input type="text" name="seller_address" class="form-control" id="seller_address">
                    </div>
                    <button type="submit" class="btn btn-success">Cariyi Kaydet</button>
                </form>
            </div>
        </div>
            <hr>
            <div class="col-lg-12">
            <div class="mb-3">
                <h4 class="accordion-button">Birim Tanımla</h4>
                <form action="{% url 'birim_olustur' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="unit_name" class="form-control" placeholder="Birim Adı Giriniz...">
                        <button type="submit" class="btn btn-success">Kayıt</button>
                    </div>
                </form>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Birim Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unit in units %}
                        <tr>
                            <td>{{ unit.unit_name }}</td>
                            <td>
                                <form action="{% url 'birim_sil' unit.id %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <h4 class="accordion-button">Kategori Tanımla</h4>
                <form action="{% url 'kategori_olustur' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="category_name" class="form-label">Kategori Adı</label>
                        <input type="text" name="category_name" class="form-control" id="category_name">
                        <div id="warning-message-for-category" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
            <hr>
            <div class="mb-3">
                <h4 class="accordion-button">Çıkış Nedeni Oluştur</h4>
                <form action="{% url 'cikis_nedeni_olustur' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="outgoing_reason" class="form-control" placeholder="Çıkış Nedeni">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}