{% extends "base.html" %}
{% block content %}
{% block title %}
Envanter | {{company.name}}
{% endblock title %}
<div class="container mt-4">
    <h2 class="text-center font-poppins" id="stock_title">Envanter Listesi</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Seri Numarası</th>
                    <th>Fatura Numarası</th>
                    <th>Çıkış Yap</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventories %}
                <tr>
                    <td>{{ inventory.product.name }}</td>
                    <td>{{ inventory.serial_number }}</td>
                    <td>{{ inventory.bill.number }}</td>
                    <td>
                        <button class="btn btn-out btn-outgoing w-100"
                                data-product-name="{{ inventory.product.name }}"
                                data-serial-number="{{ inventory.serial_number }}"
                                data-bill-number="{{ inventory.bill.number }}"
                                data-bs-toggle="modal"
                                data-bs-target="#outgoingModal">
                            <i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if inventories.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ inventories.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}
        
                {% for num in inventories.paginator.page_range %}
                    {% if inventories.number == num %}
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ num }}</a></li>
                    {% elif num > inventories.number|add:-2 and num < inventories.number|add:2 %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
        
                {% if inventories.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ inventories.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


<!-- Outgoing Modal -->
<div class="modal fade" id="outgoingModal" tabindex="-1" aria-labelledby="outgoingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outgoingModalLabel">Çıkış Yap</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="outgoingForm" action="{% url 'envanter_cikis' company.code %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="modalProductName" class="form-label">Ürün Adı</label>
                        <input type="text" class="form-control" id="modalProductName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalSerialNumber" class="form-label">Seri Numarası</label>
                        <input type="text" class="form-control" name="serial_number" id="modalSerialNumber" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalBillNumber" class="form-label">Fatura Numarası</label>
                        <input type="text" class="form-control" id="modalBillNumber" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="outgoingBillNumber" class="form-label">Çıkış Faturası</label>
                        <input type="text" name="inventory_outgoing_bill_number" placeholder="Belirtilmediği takdirde otomatik verilecektir." class="form-control" id="outgoingBillNumber">
                    </div>
                    <div class="mb-3">
                        <label for="outgoingReason" class="form-label">Çıkış Nedeni</label>
                        <select class="form-select" name="outgoing_reason" id="outgoingReason">
                            {% for outgoing_reason in outgoing_reasons %}
                            <option value="{{ outgoing_reason.id }}">{{ outgoing_reason.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Tablo sütunlarının yeniden boyutlandırılmasını sağla
    const tableHeaders = document.querySelectorAll('.table th');

    tableHeaders.forEach(th => {
        th.style.position = 'relative';
        const resizer = document.createElement('div');
        resizer.style.width = '5px';
        resizer.style.height = '100%';
        resizer.style.position = 'absolute';
        resizer.style.top = '0';
        resizer.style.right = '0';
        resizer.style.cursor = 'ew-resize';
        resizer.style.backgroundColor = '#ddd';
        th.appendChild(resizer);

        let startX, startWidth;

        resizer.addEventListener('mousedown', (e) => {
            startX = e.pageX;
            startWidth = th.offsetWidth;
            document.addEventListener('mousemove', resizeColumn);
            document.addEventListener('mouseup', stopResize);
        });

        const resizeColumn = (e) => {
            th.style.width = `${startWidth + e.pageX - startX}px`;
        };

        const stopResize = () => {
            document.removeEventListener('mousemove', resizeColumn);
            document.removeEventListener('mouseup', stopResize);
        };
    });

    // Modal ile veri gösterimi
    document.querySelectorAll('.btn-outgoing').forEach(button => {
        button.addEventListener('click', event => {
            const productName = event.target.getAttribute('data-product-name');
            const serialNumber = event.target.getAttribute('data-serial-number');
            const billNumber = event.target.getAttribute('data-bill-number');

            document.getElementById('modalProductName').value = productName;
            document.getElementById('modalSerialNumber').value = serialNumber;
            document.getElementById('modalBillNumber').value = billNumber;
        });
    });
});
</script>

<style>
/* Global Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fa;
    color: #343a40;
}
.pagination .page-item.active .page-link {
    background-color: #FF7F50; /* Mercan rengi */
    border-color: #FF7F50; /* Mercan rengi */
    color: white; /* Yazı rengi beyaz */
}
.page-link{
    color: #FF6347; /* Daha koyu bir mercan tonu */
   
}
.pagination .page-item.active .page-link:hover {
    background-color: #FF6347; /* Daha koyu bir mercan tonu */
    border-color: #FF6347; /* Daha koyu bir mercan tonu */
}
/* Container Styling */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
.table-responsive {
    margin-top: 20px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table thead th {
    background-color: #2E4053;
    color: white;
    font-weight: bold;
    border: none;
}

.table tbody tr {
    background-color: white;
    transition: background-color 0.3s ease;
}

.table tbody tr:hover {
    background-color: #f1f3f5;
}

.table td {
    border: none;
    vertical-align: middle;
    padding: 12px;
}

/* Button Styling */
.btn-out {
    background-color: #FF6F61 ;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-out:hover {
    background-color: #ffa061;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal Styling */
.modal-content {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-title {
    color: #007bff;
    font-weight: bold;
}

.btn-close {
    background-color: #007bff;
    border-radius: 50%;
    opacity: 1;
    transition: transform 0.3s ease;
}

.btn-close:hover {
    transform: rotate(90deg);
    background-color: #0056b3;
}

.form-label {
    color: #495057;
    font-weight: 500;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select2-container--default .select2-selection--single {
    border-radius: 4px;
    height: 38px;
    border-color: #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.select2-container--default .select2-selection--single:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-footer {
    border-top: none;
    padding-top: 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

</style>
{% endblock content %}
