{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Kayıt Ol</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Kullanıcı Adı</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="id_password1">Şifre</label>
        {{ form.password1 }}
      </div>
      <div class="form-group">
        <label for="id_password2">Şifre (Tekrar)</label>
        {{ form.password2 }}
      </div>
      <div class="form-group">
        <label for="id_company">Şirket</label>
        {{ form.company }}
      </div>
      <div class="form-group">
        <label for="id_phone">Telefon</label>
        {{ form.phone }}
      </div>
      <div class="form-group">
        <label for="id_address">Adres</label>
        {{ form.address }}
      </div>
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
  </div>
{% endblock %}