{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {% for message in messages %}
                Swal.fire({
                    position: "top-end",
                    icon: "{% if message.tags == 'success' %}success{% else %}info{% endif %}",
                    title: "{{ message }}",
                    showConfirmButton: false,
                    timer: 1500
                });
            {% endfor %}
        });
    </script>
    {% endif %}
    <div class="card">
 <div class="card-header">Stok Çıkış İşlemleri</div>
    <div class="card-body">
    </div>
    <form action="{% url 'stok_cikisi_yap' company.code %}" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="select2-product" class="form-label">Çıkış Yapılacak Ürün</label>
            <select name="outgoing_product" id="select2-product" class="form-select" aria-label="Select Product" required>
                <option selected disabled value="">Ürün Seçiniz</option>
                {% for product in products %}
                <option value="{{ product.id }}" data-is-inventory="{{ product.is_inventory|yesno:'true,false' }}" data-stock="{{ product.current_stock }}">{{ product.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Lütfen bir ürün seçiniz.
            </div>
        </div>

        <div class="mb-3">
            <label for="outgoing_quantity" class="form-label">Çıkış Miktarı</label>
            <input type="number" name="outgoing_quantity" class="form-control" id="outgoing_quantity" min="0" required>
            <div class="invalid-feedback">
                Lütfen geçerli bir miktar giriniz.
            </div>
            <div id="stock-warning" class="text-danger mt-2" style="display: none;">Stok yetersiz olabilir!</div>
        </div>

        <div class="mb-3">
            <label for="select2-reason" class="form-label">Çıkış Sebebi Seçin</label>
            <select name="outgoing_reason" id="select2-reason" class="form-select" aria-label="Select Reason" required>
                <option selected disabled value="">Sebep Seçiniz</option>
                {% for reason in outgoing_reasons %}
                <option value="{{ reason.id }}">{{ reason.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Lütfen çıkış sebebi seçiniz.
            </div>
        </div>
        <style>
            /* CSS Kodu */
            .select2-container--default .select2-selection--single {
                width: 100% !important;
            }
        </style>
        
        <div class="mb-3" id="inventory_product_group">
            <label for="select2-inventory" class="form-label">Envanter Ürünü</label><br>
            <select name="inventory_product" id="select2-inventory" class="form-select" aria-label="Select Inventory Product">
                <option selected disabled value="">Ürün Seçiniz</option>
            </select>
            <div class="invalid-feedback">
                Lütfen bir envanter ürünü seçiniz.
            </div>
            <script>
                $('#select2-inventory').select2({
                    width: 'resolve' // Bu, select2'nin genişliği ayarlamasına yardımcı olur
                });
            </script>
        </div>
        <div class="mb-3">
            <label for="bill" class="form-label">Çıkış Fatura Numarası</label>
            <div class="input-group">
                <input type="text" name="outgoing_bill_number" class="form-control" id="bill" required>
                <button type="button" class="btn btn-outline-success" title="Otomatik Fatura Numarası Üret" id="generateBillNumber">+</button>
                <div class="invalid-feedback">
                    Lütfen bir fatura numarası giriniz.
                </div>
            </div>
        
        
        <button type="submit" class="btn btn-danger mt-4" id="submitBtn" disabled>Çıkış Yap <i class="fa-solid fa-shuffle"></i></button>
    </form>
</div>
<div class="card-footer">
    Daha fazla bilgi için lütfen iletişime geçin.
</div>
</div>
</div>
<style>
    /* Genel Kart Stili */
    .card {
        background-color: #ECCEAE; /* Beyaz arka plan */
        border-radius: 16px; /* Yuvarlatılmış köşeler */
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
        padding: 24px; /* İç boşluk */
        margin: 20px 0; /* Üst ve alt boşluk */
        transition: all 0.3s ease; /* Geçiş efekti */
        position: relative; /* Elemanları konumlandırmak için göreli konum */
        border: 1px solid #e7e7e7; /* İnce kenarlık */
    }
    
    /* Hover Durumu için Efekt */
    .card:hover {
        transform: translateY(-8px); /* Hover'da yukarı doğru hareket */
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Daha belirgin gölge */
        border-color: #ddd; /* Hover'da kenarlık rengi değişimi */
    }
    
    /* Kart Başlığı */
    .card-header {
        text-align: center !important;
        background-color:  #FBF6E2;/* Başlık rengi */;
        color: black;/* Başlık rengi */
        font-size: 1.6rem; /* Büyük başlık yazı boyutu */
        font-weight: 600; /* Orta kalınlıkta yazı tipi */
        margin-bottom: 18px; /* Alt boşluk */
        border-bottom: 1px solid #e7e7e7; /* Alt çizgi */
        padding-bottom: 12px; /* Başlığın altına boşluk */
        border-radius: 8px;
    }
    
    /* Kart İçeriği */
    .card-body {
        font-size: 1rem; /* Normal içerik yazı boyutu */
        color: #666; /* İçerik yazı rengi */
        line-height: 1.7; /* Satır yüksekliği */
        padding: 12px 0; /* İçerik için boşluk */
    }
    
    /* Kart İçindeki Buton */
    {% comment %} .card .btn {
        margin-top: 20px; /* Üst boşluk */
        border-radius: 8px; /* Buton köşeleri yuvarlatılmış */
        padding: 10px 20px; /* İç boşluk */
        font-weight: 500; /* Yazı kalınlığı */
        box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2); /* Buton gölge efekti */
        transition: background-color 0.3s ease, transform 0.2s ease; /* Hover geçiş efekti */
    } {% endcomment %}
    
    /* Buton Hover Durumu */
    .card .btn:hover {
        background-color: #0056b3; /* Hover'da daha koyu mavi renk */
        color: #ffffff; /* Hover'da beyaz yazı rengi */
        transform: translateY(-3px); /* Hover'da yukarı hareket */
        box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3); /* Daha belirgin gölge efekti */
    }
    
    /* İkincil Butonlar */
    .card .btn-outline-secondary {
        color: #666; /* Gri renk */
        border-color: #ddd; /* Gri kenarlık */
        background-color: transparent; /* Şeffaf arka plan */
        transition: color 0.3s ease, border-color 0.3s ease;
    }
    
    .card .btn-outline-secondary:hover {
        color: #ffffff; /* Beyaz renk */
        background-color: #666; /* Gri arka plan */
        border-color: #666; /* Gri kenarlık */
    }
    
    /* Kartın Altındaki Bilgilendirme Mesajları */
    .card-footer {
        font-size: 0.9rem; /* Daha küçük yazı boyutu */
        color: #888; /* Açık gri yazı rengi */
        padding-top: 15px; /* Üst boşluk */
        border-top: 1px solid #e7e7e7; /* Üst çizgi */
        margin-top: 15px; /* Üst boşluk */
        text-align: center; /* Ortalı yazı */
    }
    </style>
<script>
    $(document).ready(function() {
        // Initialize Select2
        $('#select2-product, #select2-reason, #select2-inventory').select2({
            placeholder: "Seçim Yapınız",
            allowClear: true
        });

        // Get elements
        const inventoryProductGroup = $('#inventory_product_group');
        const inventoryProductSelect = $('#select2-inventory');
        const submitBtn = $('#submitBtn');
        const quantityInput = $('#outgoing_quantity');

        // Handle change event for Select2
        $('#select2-product').on('change', function() {
            const selectedOption = $(this).find('option:selected');
            const isInventory = selectedOption.data('is-inventory') === true;
            const productId = $(this).val();

            console.log("Product Selected: ", selectedOption);
            console.log("Is Inventory: ", isInventory);
            console.log("Product ID: ", productId);

            if (isInventory) {
                quantityInput.val(1).prop('readonly', true);
                inventoryProductGroup.removeClass('d-none');
                fetchInventoryProducts(productId);
            } else {
                quantityInput.val('').prop('readonly', false);
                inventoryProductGroup.addClass('d-none');
            }

            checkFormValidity();
        });

        // Enable or disable the submit button based on the inventory product selection
        $('#select2-inventory').on('change', function() {
            checkFormValidity();
        });

        function checkFormValidity() {
            const selectedOption = $('#select2-product').find('option:selected');
            const isInventory = selectedOption.data('is-inventory') === true;
            const inventoryProductSelected = $('#select2-inventory').val() !== null;

            console.log("Form Validity Check: ", isInventory, inventoryProductSelected);

            if (isInventory && !inventoryProductSelected) {
                submitBtn.prop('disabled', true);
            } else {
                submitBtn.prop('disabled', false);
            }
        }

        function fetchInventoryProducts(productId) {
            console.log("Fetching inventory products for product ID: ", productId);
            $.ajax({
                url: '{% url "get_inventory_products" %}',
                data: {
                    product_id: productId
                },
                success: function(data) {
                    console.log("Fetched inventory products: ", data);
                    inventoryProductSelect.empty();
                    inventoryProductSelect.append('<option selected disabled value="">Ürün Seçiniz</option>');
                    data.forEach(function(item) {
                        inventoryProductSelect.append('<option value="' + item.id + '">' + item.serial_number + '</option>');
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching inventory products: ", status, error);
                }
            });
        }

        // Generate random bill number
        $('#generateBillNumber').on('click', function() {
            const billInput = $('#bill');
            const randomBillNumber = 'OFN-' + Math.floor(Math.random() * 1000000).toString().padStart(6, '0');
            billInput.val(randomBillNumber);
        });

        // Check stock warning
        const productSelect = document.getElementById('select2-product');
        const warningMessage = document.getElementById('stock-warning');

        function checkStock() {
            const selectedOption = productSelect.options[productSelect.selectedIndex];
            const currentStock = parseFloat(selectedOption.getAttribute('data-stock'));
            const outgoingQuantity = parseFloat(quantityInput.val());

            console.log("Checking stock: ", currentStock, outgoingQuantity);

            if (outgoingQuantity > currentStock) {
                warningMessage.style.display = 'block';
            } else {
                warningMessage.style.display = 'none';
            }
        }

        productSelect.addEventListener('change', checkStock);
        quantityInput.on('input', checkStock);

        // Form validation
        const forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    });
</script>
{% endblock content %}
