{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
Kullanıcıyı Düzenle | {{user.username}}
{% endblock title %}
{% block icon %}
<link rel="icon" type="image/x-icon" href="{% static 'edit.png' %}">
{% endblock icon %}
<div class="container mt-5">
  <div class="row">
    <div class="col-6 col-md-6">
    <div class="profile-wrapper page-content">
      <div class="profile-content">
        <div class="profile-card">
          <style>
            .icons {
              font-size: 24px;
              color: white;
              margin-right: 4px;
              transition: transform .2s;
              cursor: pointer;
              color:#2E4053;
            }
            .form-check-input:checked {
              background-color: #F7DC6F;
              border: #F7DC6F;
            }
            .icons:hover {
              transform: scale(1.5);
            }
            .profile-info {
              font-size: 20px;
            }
            .permissions-wrapper {
              display: flex;
              justify-content: space-between;
            }
            .permissions-area, .permissions_area_2 {
              width: 48%;
            }
          </style>
          <img src="{% if user.profile_image.url != None %}{{ user.profile_image.url }}{% else %}/static/default-profile.png{% endif %}" alt="Profile Image" {% if user.is_active %} class="active_user profile-img mr-10" {% else %} class="inactive_user profile-img mr-10" {% endif %}>
          <div class="profile-info">
            <p>
              <script>
                function copyText(text) {
                  var tempInput = document.createElement("input");
                  tempInput.value = text;
                  document.body.appendChild(tempInput);
                  tempInput.select();
                  document.execCommand("copy");
                  document.body.removeChild(tempInput);
                  var toast = new bootstrap.Toast(document.getElementById('toast'));
                  toast.show();
                }
              </script>
              <i class="fas fa-user icons" title="Kullanıcı Adı" onclick="copyText('{{ user.username }}')"></i> <strong>{{ user.username }}</strong>
            </p>
            <hr class="line">
            <p>
              <i class="fa-solid fa-building icons" title="Kullanıcı Şirket" onclick="copyText('{{ user.company.code }}')"></i> {{ user.company.code }}
            </p>
            <hr class="line">
            <p>
              <i class="fas fa-envelope icons" title="Kullanıcı E-postası" onclick="copyText('{{ user.email }}')"></i> {{ user.email }}
            </p>
            <hr class="line">
            <p>
              <i class="fas fa-phone icons" title="Kullanıcı Telefon" onclick="copyText('{{ user.phone }}')"></i> {{ user.phone }}
            </p>
            <hr class="line">
            <p>
              <i class="fas fa-home icons" title="Kullanıcı Adres" onclick="copyText('{{ user.address }}')"></i> {{ user.address }}
            </p>
            <hr class="line">
            <p>
              <i class="fa-solid fa-user-tag icons" title="Kullanıcı Etiketi" onclick="copyText('{{ user.get_tag_display }}')"></i> {{ user.get_tag_display }}
          </p>
          
            <hr class="line">
            {% if request.user.username == "ssoft" %}
            <p>
              <i class="fa-solid fa-id-badge icons" title="Kullanıcı Benzersiz Id" onclick="copyText('{{ user.unique_id }}')"></i> {{ user.unique_id }}
            </p>
            <hr class="line">
            {% else %}
            <p>
              <i class="fa-solid fa-id-badge icons"></i> Bu alanı göremezsiniz.
            </p>
            <hr class="line">
            {% endif %}
            <span class="status-badge w-100 text-center {% if user.is_active %}active{% else %}inactive{% endif %}">
              <i class="status-icon {% if user.is_active %}fa fa-check{% else %}fa fa-times{% endif %}"></i>
              {{ user.is_active|yesno:"Aktif,Pasif" }}
            </span>
            <button class="btn btn-primary w-100 mt-2" data-bs-toggle="modal" data-bs-target="#editModal">
              <i class="fa-solid fa-user-pen"></i> Düzenle
            </button>
            <button class="btn btn-primary w-100 mt-2" data-bs-toggle="modal" data-bs-target="#passwordModal">
              <i class="fa-solid fa-user-pen"></i> Şifre Değiştir
            </button>
          </div>
        </div>
        
        </div>
        
      </div>
      
    </div>
    <div class="col-6 col-md-6" id="permissions-wrapper-col">
      <!--
      for master user
      -->
      <style>
        #permissions-wrapper-col{
          background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
          padding-top: 20px;
          border-radius:10px;
        }
        .perm-title{
          background-color:#c3cfe2;
          border-radius: 10px;
          text-align: center;
          margin-left:20px ;
          color:black;
        }
      </style>
      <div class="permissions-wrapper">
        <form method="POST" action="{% url 'kullanici_yetkilendir' company.code user.unique_id %}">
          {% csrf_token %}
          <div class="permissions-container d-flex justify-content-between">
            <div class="permissions-area">
              <h6 class="font-poppins perm-title">Tanımlar Yetkisi</h6>    
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_product" type="checkbox" role="switch" id="switchAddProduct" {% if user.permissions.add_product %}checked{% endif %}>
                <label class="form-check-label" for="switchAddProduct">Ürün Eklesin</label>
              </div>
              
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_category" type="checkbox" role="switch" id="switchAddCategory" {% if user.permissions.add_category %}checked{% endif %}>
                <label class="form-check-label" for="switchAddCategory">Kategori Eklesin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_seller" type="checkbox" role="switch" id="switchAddSeller" {% if user.permissions.add_seller %}checked{% endif %}>
                <label class="form-check-label" for="switchAddSeller">Cari Eklesin</label>
              </div>
              
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_outgoing" type="checkbox" role="switch" id="switchAddOutgoing2" {% if user.permissions.add_outgoing %}checked{% endif %}>
                <label class="form-check-label" for="switchAddOutgoing2">Çıkış Eklesin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_unit" type="checkbox" role="switch" id="switchAddUnit" {% if user.permissions.add_unit %}checked{% endif %}>
                <label class="form-check-label" for="switchAddUnit">Birim Eklesin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="delete_unit" type="checkbox" role="switch" id="switchAddUnit" {% if user.permissions.delete_unit %}checked{% endif %}>
                <label class="form-check-label" for="switchAddUnit">Birim Silebilsin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_user" type="checkbox" role="switch" id="switchAddUser2" {% if user.permissions.add_user %}checked{% endif %}>
                <label class="form-check-label" for="switchAddUser2">Kullanıcı Eklesin</label>
              </div>
              
              
            </div>
            <div class="permissions_area_2">
              <h6 class="font-poppins perm-title">Diğer yetkiler</h6>
              <div class="form-check form-switch">
                <input class="form-check-input" name="update_user" type="checkbox" role="switch" id="switchAddOutgoing" {% if user.permissions.update_user %}checked{% endif %}>
                <label class="form-check-label" for="switchAddOutgoing">Kullanıcı Güncellesin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_outgoing" type="checkbox" role="switch" id="switchAddOutgoing" {% if user.permissions.add_outgoing %}checked{% endif %}>
                <label class="form-check-label" for="switchAddOutgoing">Çıkış Yapabilsin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_bill" type="checkbox" role="switch" id="switchAddBill" {% if user.permissions.add_bill %}checked{% endif %}>
                <label class="form-check-label" for="switchAddBill">Fatura Girebilsin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_inventory" type="checkbox" role="switch" id="switchAddInventory" {% if user.permissions.add_inventory %}checked{% endif %}>
                <label class="form-check-label" for="switchAddInventory">Envanter Girebilsin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="access_to_reports" type="checkbox" role="switch" id="switchAddInventory" {% if user.permissions.access_to_reports %}checked{% endif %}>
                <label class="form-check-label" for="switchAddInventory">Raporlara Erişsin</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_parameter" type="checkbox" role="switch" id="switchAddParameter" {% if user.permissions.add_parameter %}checked{% endif %}>
                <label class="form-check-label" for="switchAddParameter">Parametreleri Görebilsin</label>
              </div>
            </div>
            {% if company.code == 1  %}
            <div class="permissions_area_3">
              <h6 class="font-poppins perm-title">Destek Ekibi Yetkileri</h6>
              <div class="form-check form-switch">
                <input class="form-check-input" name="add_company" type="checkbox" role="switch" id="switchAddCompany" {% if user.permissions.add_company %}checked{% endif %}>
                <label class="form-check-label" for="switchAddCompany">Şirket Ekleme</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="list_company" type="checkbox" role="switch" id="switchAddUser" {% if user.permissions.list_company %}checked{% endif %}>
                <label class="form-check-label" for="switchListCompany">Şirketleri Listele</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="set_agreement_date" type="checkbox" role="switch" id="switchAddUser" {% if user.permissions.set_agreement_date %}checked{% endif %}>
                <label class="form-check-label" for="switchListCompany">Anlaşma Tarihi Ayarlasın</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="set_company_status" type="checkbox" role="switch" id="switchAddUser" {% if user.permissions.set_company_status %}checked{% endif %}>
                <label class="form-check-label" for="switchListCompany">Şirket Durumunu Değiştirebilsin</label>
              </div>
            </div>
            {% endif %}
            
          </div>
          <div class="btn-area">
            <button type="submit" class="btn btn-perm w-100">
              <i class="fa-solid fa-user-gear"></i> Yetkilendir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <!--
    User Edit Modal
  -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{{user.username}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'kullanici_guncelle' company.code user.unique_id %}" enctype="multipart/form-data"> 
            {% csrf_token %}
             <div class="form-floating mb-3">
              <input value={{user.username}} type="text" class="form-control" name="username" id="usernameInput" placeholder="Kullanıcı Adı">
              <label for="floatingInput">Kullanıcı Adı</label>
            </div>
            <div class="form-floating mb-3">
              <img src={% if user.profile_image %}"{{ user.profile_image.url }}"{% endif %} alt="Kullanıcı Fotoğrafı" class="profile-img" id="userImage" />
              <input type="file" class="form-control mt-2" name="profile_image" id="imageInput" />
              <label for="imageInput">Yeni Fotoğraf Yükle</label>
            </div>
            <div class="form-floating mb-3">
              <input value={{user.phone}} type="text" class="form-control" name="phone" id="phoneInput" placeholder="Kullanıcı Adı">
              <label for="floatingInput">Telefon</label>
            </div>
            <div class="form-floating mb-3">
              <input value={{user.email}} type="text" class="form-control" name="email" id="emailInput" placeholder="Kullanıcı Adı">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input value={{user.address}} type="text" class="form-control" name="address" id="addressInput" placeholder="Kullanıcı Adı">
              <label for="floatingInput">Adres</label>
            </div>
            {% if request.user.tag == "Yönetici" %}
            <div class="form-floating mb-3 ">
              <select class="form-select" name ="tag"  aria-label="Default select example">
                <option selected value="{{user.tag}}">{{user.tag}}</option>
                <option value="Yönetici">Yönetici</option>
                <option value="Yetkili">Yetkili</option>
                <option value="Destek">Destek</option>
              </select>
            </div>
            {% else %}
            <div class="form-floating mb-3 ">
              <select class="form-select" name ="tag"  aria-label="Default select example">
                <option selected value={% if user.company.code != 1 %}"Kullanıcı"{% else %}"{{user.tag}}" {% endif %}>{{user.tag}}</option>
              </select>
            </div>
            {% endif %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="is_active" value="" id="is_active_checkbox" {% if user.is_active == True %}checked{% endif %}>
              <label class="form-check-label" for="is_active"> Aktif mi? </label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-success">Değişiklikleri Kaydet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="toast-container" class="position-fixed bottom-0 end-0 p-3">
    <div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Bilgi</strong>
            <small class="bg-success">Yeni</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Metin kopyalandı!
        </div>
    </div>
</div>
<style>
.btn-perm{
  background-color: #2E4053;
  color: white;
  font-weight: bold;
}
.btn-perm:hover{
  background-color: #425364;
  color: white;
  font-weight: bold;
}
.profile-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #DCD9D4;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.profile-card .profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: auto;
    margin-top:auto;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
}
.profile-card .profile-info {
    flex: 1;
}

.profile-card .permissions-area {
    margin-left: 20px;
}

.profile-card .profile-info h2 {
    margin: 0;
    font-size: 24px;
}

.profile-card .profile-info p {
    margin: 5px 0;
    color: #555;
}

.profile-card .status-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-check {
    margin-bottom: 10px;
}
.line{

    border: 1px solid white;
}

.status-badge {
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 0.875em;
}

.status-badge .status-icon {
    margin-right: 0.5em;
}

.status-badge.active {
    background-color: #28a745; /* Yeşil: Aktif */
}

.status-badge.inactive {
    background-color: #dc3545; /* Kırmızı: Pasif */
}
.active_user{
    filter: drop-shadow(1px 1px 20px green);
}
.inactive_user{
    filter: drop-shadow(1px 1px 20px red);
}
</style>
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Parola Değiştir</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="passwordChangeForm" method="POST" action="{% url 'sifre_degistir' user.unique_id %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="old_password" class="form-label">Eski Şifre</label>
            <input type="password" class="form-control" id="old_password" name="old_password">
          </div>
          <div class="mb-3">
            <label for="new_password1" class="form-label">Yeni Şifre</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1">
          </div>
          <div class="mb-3">
            <label for="new_password2" class="form-label">Yeni Şifreyi Onayla</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2">
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-primary" id="submitPasswordForm">Şifreyi Değiştir</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
