{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Çıkış Nedeni Oluştur veya Güncelle</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'cikis_nedeni_olustur' company.code %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="hidden" id="reason_id" name="reason_id">
                            <input type="text" id="outgoing_reason" name="outgoing_reason" class="form-control" placeholder="Çıkış Nedeni" required>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h4>Mevcut Çıkış Nedenleri</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for reason in reasons %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>{{ reason.name }}</span>
                            <span class="badge {{ reason.is_active|yesno:'bg-success,text-white bg-danger' }}">{{ reason.is_active|yesno:"Active,Inactive" }}</span>
                            <div class="btn-group" role="group">
                                <form action="{% url 'cikis_nedenini_sil' company.code reason.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-delete"style="margin-right: 4px;">Sil</button>
                                </form>
                                <button class="btn btn-sm btn-update" style="margin-right: 4px;" data-bs-toggle="modal" data-bs-target="#editOutgoing_{{reason.id}}">Düzenle</button>
                                <a href="{% url 'cikis_sebebini_degistir' reason.id %}" class="btn btn-sm btn-status">Durumu Değiştir</a>
                            </div>
                        </li>

                        <!-- Modal -->
                        <div class="modal fade" id="editOutgoing_{{reason.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Çıkış Nedeni Düzenle</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="{% url 'cikis_nedenini_güncelle' company.code reason.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <input type="hidden" name="reason_id" value="{{ reason.id }}">
                                            <div class="mb-3">
                                                <label for="outgoing_reason_{{ reason.id }}" class="form-label">Çıkış Nedeni</label>
                                                <input type="text" id="outgoing_reason_{{ reason.id }}" name="outgoing_reason" class="form-control" value="{{ reason.name }}" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Kaydet</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn-sm{
        border-radius: 30px!important;
    }
    .btn-update{
        color: white;
        background-color: #6A9C89;
    }
    .btn-update:hover{
        color: white;
        background-color: #6A9C89;
    }
    .btn-delete{
        color: white;
        background-color: #921A40;
    }
    .btn-delete:hover{
        color: white;
        background-color: #921A40;
    }
    .btn-status{
        color: white;
        background-color: #FFAF00;
    }
    .btn-status:hover{
        color: white;
        background-color: #FFAF00;
    }
</style>
{% endblock content %}
